
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Creer", "Creer")
@model IEnumerable<WebApplication1.Models.MvcMovie.Models.Movie>
<h2>Index</h2>
@using (Html.BeginForm("Index", "Movie", FormMethod.Get))
{
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}
<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Gerne</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
